@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*              Sass Template           */
/*  global classes  */
button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* typography classes */
.font-baloo {
    font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
    font-family: "Raleway", cursive;
}

.font-rubik {
    font-family: "Rubik", cursive;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

/* Color Template  */
.color-primary {
    color: #002daa;
  }
  
  .color-primary-bg {
  background: #001b66;
  }
  
  .color-second {
    color: #59003e;
  }
  
  .color-second-bg {
    background: #59003e;
  }
  
  .color-yellow {
    color: #fa6acf;
  }
  
  .color-yellow-bg {
    background: #fa6acf;
  }
  .color-disabled-bg {
    background: #eba1d5cc;
  }
  

html{
    height: 100%;
}

body{
    position: relative;
    min-height: 100%;
}

.construction{
    width: 500px;
    height: 100px;    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

  nav{
    display: flex;
}
.brand-logo{
    width: 90%;
}
#navbarNav{
    width: 10%;
}

.wishlist-heart{
    margin-left: auto;
    border: none;
    text-decoration: none;
    background: none;
}
#wishlist-heart-inactive{
    opacity: 0.7;
}
#wishlist-heart-active:hover{
    transform: scale(1.5);
}
#wishlist-heart-active:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/* banner-ads */

#banner_adds{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 400px;
}

.ads-item img{
    height: 250px;
    width: auto;
}
#banner1{
    justify-content: end;
    margin-left: auto;
    margin-right: 20px;
}
#banner2{
    justify-content: start;
    margin-right: auto;
    margin-left: 20px;
}

/* banner-ads */


/*  top sale template   */
#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
    transition: transform 0.5s ease;
    width: 275px;
    height: 183px;
}
#top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}

/*   Special Price Section Template */
#special-price .grid .grid-item {
    margin-right: 1.2rem;
    margin-top: 1rem;
}
#special-price .grid .item .product img {
    width: 275px;
    height: 183px;
}

/*# sourceMappingURL=style.css.map */



/*  new-shoes template   */
#new-phones .owl-carousel .item .product a {
    overflow: hidden;
}
#new-phones .owl-carousel .item .product img {
    transition: transform 0.5s ease;
    width: 275px;
    height: 183px;
}
#new-phones .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}
#new-phones .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#new-phones .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
#new-phones .owl-carousel .owl-nav button.owl-prev span,
#new-phones .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    padding: 0 1rem;
}
#new-phones .owl-carousel .owl-nav button.owl-prev span {
    margin-left: -4rem;
}
#new-phones .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
#new-phones .owl-carousel .owl-nav button.owl-next span {
    margin-right: -4rem;
}

/* ABOUT */

/*CAROSEL*/
.carosel{
    background-image: url(/assets/images/beach1.jpg);
    height: 20em;
}
.carosel h1{
    text-align: center;
    line-height: normal;
    color: rgba(128, 128, 128, 0.87);
}
.main-top{
    text-align: center;
}
.main-top h2{
    font-weight: bold;
}
/*CAROSEL*/

/*CARDS*/
.cards-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.we-advance{
    height: 495px;
}
.card{
    /* background: #e5e4e4; */
    border: 1px solid #e8e6e6;
    height: 370px;
}
.we-advance img{
    height: 160px;
    opacity: 0.5;
}
/*CARDS*/

/*TESTIMONIALS*/
.story-img {
    float: left;
    width: 131px;
    margin: 10px 30px 20px 0;
}
.table{
    margin-top: 22px;
    border: none;
}
tbody tr {
    border: none;
}
.progress {
    background: #fff;
    height: 10px;
    margin: 6px 0;
}
.progress-bar {
    background: #59003e;
    border-radius: 10px;
    width: 10px;
}
/*TESTIMONIALS*/


/* SPONSOR*/
.sponsor-section{
    margin-top: 80px;
    padding-bottom: 10em;
}
.sponsor-section h2{
    text-align:center;
    padding: 20px;
    color: #c9c9c9;
}
/* Slider */
.slide img{
    filter: grayscale(100%);
    opacity: 0.3;
}
.slide img:hover{
    opacity: 1.0;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*SPONSOR*/

/* ABOUT */